* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}


  .Side-bar {
    margin: 0;
    padding: 20px;
    width: 20%;
    background-color: black;
    position: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;

  }
  
  /* Sidebar links */
  .Side-bar a {
    
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .Side-bar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .Side-bar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .products{
    width: 100%;
    font-size: 25px;
    cursor: pointer;
  }
  

  .Product-info{
    margin-left: 20%;
    width: 80%;
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    
    flex-wrap: wrap;
    gap: 20px;

  }
  img{
    width: 40%;
    height: 50%;
  }

  .Details{
    width: 55%;
    height: 70%;
    padding: 10px;
  }
  .Details p{
    padding: 10px;
    margin-left: 25px;
  }

  .Details h2{
    color: green;
  }